.input-wrapper {
    width: 100%;
}

.input-field {
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #C430C7;
    text-align: center;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}